body {
    color: #999999;
}

div.indented {
    padding: 10px 20px;
}

div.name-row {
    margin-bottom: 60px;
    margin-top: 40px;
}

div.information {
    margin-top: 20px;
}
.nav-link {
    color: #999999;
}
.nav-link:hover {
    color: #999999;
    background-color: #444;
}

p.preserve-whitespace {
    white-space: pre-wrap;
}