#tournament {
    border: 0 solid #ddd;
    border-top-width: 1px;
    border-left-width: 1px;
}

#tournament h3 {
    margin-left: 10px;
    margin-top: 15px;
}
#tournament:hover {
    background-color: #eee;
}

#matchAgainst {
    border: 0 solid #ddd;
    border-bottom-width: 1px;
    margin-right: 0;
}

#tournamentWithMatch:hover {
    background-color: #eee;
}

